/* body div {
    border-radius: 1rem;
    padding: 0 0 2% 3%;
    background-color: rgb(173, 184, 216);
}
body div button{
    background-color: rgb(197, 23, 81);
    border-radius: 5px;
    border: none;
}
body div h1 {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 50px;
} */