*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}
html {
    height: 100%;
    width: 100%;
    margin: 0;
}
html{
    background: linear-gradient(to top right, rgb(12, 189, 212), rgb(0, 68, 255));
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;

}
header{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
h1{
    font-weight: 600;
    font-size: 60px;
    color: rgb(255, 255, 255);
}

main{
    width: 900px;
    margin: auto;
}
#add-task{
    display: flex;
    justify-content: center;
    margin-top:20px;
}
#task-name{
    border-radius: 0.5rem;
    width: 22rem;
    height:3rem;
    border: 2px solid rgb(255, 255, 255);
    font-size: 1.2rem;
    background: rgba(255, 255, 255, .4);
    padding-left: 1rem;
}
#task-name::placeholder{
    color: rgb(243, 239, 232);
}
#add-button{
    margin-left: .5rem;
    background: rgba(22, 3, 194, 0.89);
    border: 1px solid black;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    width: 10rem;
}
#add-button :hover{
    background: cyan;
}
#add-button img{
    margin-left: 4px;
}
#task-list{
    margin-top:60px;
}
#task-list div{
    border: 3px solid rgba(0, 0, 0, 0.664);
    border-radius: .5rem;
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 4px 3px 4px;

    margin: 6px 0 0 0;
    background: rgba(255, 255, 255, 0.6);
}
.title-task{
    font-size: 40px;
}
@media (max-width:800px) {
    h1{
        font-size: 80px;
    }
    #task-name{
        width: 26rem;
        height:6rem;
        font-size: 2rem;
        margin-right: 1rem;
    }
    #add-button{
        font-size: 1.4rem;
    }
    main{
        width: 95vw;
    }
}
